<!DOCTYPE html>
<html>
  <head>
    <title>LSA</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <link rel="icon" href="/assets/rails.png" />
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
